body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#grid{
    display: grid;
    justify-self: center;
    align-self: center;
    grid-template: repeat(4,64px) / repeat(4,64px);
}
.box{
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    margin: 2px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 1.9em;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
}
.box:hover{
    background-color: gray;
}
#foundList{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}