body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#grid{
    display: grid;
    justify-self: center;
    align-self: center;
    grid-template: repeat(4,64px) / repeat(4,64px);
}
.box{
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    margin: 2px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 1.9em;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
}
.clickedBox{
    display: flex;
    flex-direction: column;
    background-color: rgb(29, 197, 85);
    margin: 2px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 1.9em;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
}
.box:hover{
    background-color: gray;
}
.clickedBox:hover{
    background-color: rgb(29, 139, 61);
}
#wordList{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}
.word{
    color: black;
    background-color: rgb(29, 197, 85);
    border-radius: 32px;
    width: fit-content;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 4px;
}
@keyframes word {
    0% {background-color: rgb(29, 197, 85);}
    50% {background-color: rgb(110, 240, 153);}
    100%{background-color: rgb(29, 197, 85);}
}